<div id="myIdeas" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>My Ideas</h3>
  </div>
  <div class="modal-body enroll-competition-modal">
    <div id='Stream'>
      <% if @approved != [] %>
        <% @approved.each do |approved| %>
          <%= render partial: 'ideas/stream_component', locals: { idea: approved, in_competition: true } %>
        <% end %>
      <% else %>
        <h3>You Have No Ideas, you need to create an Idea first</h3>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to "Enter a New Idea", { :controller => "ideas", :action => "new", :competition_id => @competition.id } , :class => 'btn btn-large btn-danger pull-center'%>
  </div>
</div>
