<div id="approve" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>My Ideas</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'home/stream', :locals => { :approved => @myIdeas } %>
  </div>
  <div class="modal-footer">
    <%= link_to "Submit",  { :controller => "enroll_idea", :action => "enroll_idea"}, :class => 'btn btn-success pull-center'%>
    <%= link_to "Enter a New Idea", :controller => "ideas", :action => "new", :class => 'btn btn-success'%>    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>