<div class='well row new-competition-page'>
  <div class="span12">
    <div class='row'>
      <div class="span12">
        <h3>New competition</h3>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>
