var x =$('div#Stream').length
if (x==1){
$('#<%=@idea.id%>btns').remove();
$('#MyModal-<%=@idea.id%> p').text('the idea has been rejected already');
}
else{
  $('#idea-<%= @idea.id%>').remove();
var remaining = $('.unapproved-ideas').length;
if (remaining == 0) {
  var z = $('<h1>No ideas to review</h1>');
  $('div.content').append(z);
}
}