<h1 align="middle">Dashboard</h1>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">My Ideas</a></li>
    <% if @user.type == "Committee" %>
    <li><a href="#pane2" data-toggle="tab">Approved Ideas</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      <pre class = "ideaList">
        <% @own_ideas.each do |idea| %>
          <%= idea.title %>
        <% end %>
      </pre>
    </div>
    <% if @user.type == "Committee" %>
    <div id="pane2" class="tab-pane">
      <pre class = "ideaList">
        <% @approved_ideas.each do |idea| %>
          <%= idea.title %>
        <% end %>
      </pre>
    </div>
    <% end %>
  </div><!-- /.tab-content -->
</div>
</div><!-- /.tabbable -->