<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.content %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
<% end %>
</table>