<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>invite committee member</h1>
<button class = "visible main"> Click me !</button>
	<%= form_tag( {:action => 'invite_committee'} ,:class => 'invite hidden') do %> 
			<%= text_field_tag(:email,nil,:placeholder => 'enter email here' , :class => 'visible') %></p> 
		<div class = "send">
			<%= submit_tag("send",:class => 'visible') %>  
			<input type = 'button' class = "visible cancel" value ='cancel'> 
		</div> 
	<% end %>
<br />
<%= link_to 'Tag Management', tags_path %>