<%if current_user%>
<% if @blog==nil %>
<tr>
<td><%= link_to "Create Blog", new_blog_path %></td>
</tr>
<%else%>
<tr>
<td><%= link_to "Edit Blog", edit_blog_path(Blog) %></td>     <td><%= link_to "My Blog", Blog.find(session[:user_id]) %></td>
</tr>
<% end %>
<% end %>
<h1>Component 4 Blogger Website ! </h1>
<br>
<br>
<br>
<h2><%= link_to "See All Blogs!", Blog %></h2>

