      <%= render :partial => "stream" %>
 <script type="text/javascript">
(function() {

  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 100;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }
    if(nearBottomOfPage() && $("#search").val() == "") {
      loading=true;
      page++;
      $.ajax({
        url: '/home/index?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          loading=false;
          
        }

      });
    }
  });
})();
</script>
<% content_for :sidebar do %>
<div id="topten">
<h3>Top Ten Ideas</h3>
<% @top.each do |top| %>
<div class="topten_idea">
	<strong><%= link_to top.title ,top %></strong>
	<span><%= top.num_votes %></span>
	<span><%= top.user.first_name %></span>
</div>
<% end %>
</div>
<% end %>
