.idea-votes {
  padding-top: 22px;
  padding-right: 0px;
  top: 8px;
  left: 21.5px;
  display: block;
  width: 28px;
  height: 22px;
}
.idea-popover {
  width: 600px;
}
#imageTag {
  margin-left: -110px;
  margin-top: 6px;
}
#numberCommentsPopover {
  margin-left: 66px;
}
#votesPopover {
  margin-top: 13%;
  margin-right: 23%;
}
.tagsPopover {
  margin-top: 4px;
}
#userTag {
  margin-left: -63px;
  margin-top: -15px;
}
#titleTag {
  margin-left: -131px;
}
#descriptionTag {
  width: 205px;
}

#commentsPopover {
  margin-left: 19px;
  margin-top: 0px;
}

#commentsPopovers {
  margin-top: 16%;
  margin-left: -27%;
}

#votesVotes {
  font-size: 24px;
}
#popoverWhole {
  margin-left: -17%;
  margin-top: 5%;
}
.label.label-info {
  font-size: 14px;
}
.margin {
  margin-top: -550px;
  margin-bottom: 9px;
}
.tagsIdea{
  padding-left: 135px;
}
.popover {
  max-width: 50%;
  max-height: 171%;
  padding-left: 12%;
  text-align: left;
  background-color: white;
}
.popover.fade.bottom.in {
  top: 8px;
  left: -103px;
  display: block;
  width: 363px;
  height: 487px;
}
.usernameId{
  padding-left: 374px;

}
.popover-content {
  padding: 9px 21px;
}
