<div id='tags'>
  <% if @tags2 %>
    <% @tags2.each do |tag| %>
      <label><%= tag %></label>
    <% end %>
  <% end %>
</div>
<%= render 'ideas/show' %>
<div id = "IdeaStream">
  <div class = "page">
    <%= render :partial => 'stream' %>
  </div>
