<style type="text/css">
.topten{
	position : fixed;
	left: 75%;
	border: solid;
	width: 200px;
	height: 400px;
	background-color: #ff99cc;
}
.topten_idea{
	border: solid;
	height:25px;
	
}
.span{
	width: 200px;
}
</style>
<div class="topten">
<h1>Top Ten Ideas</h1>
<% @top.each do |top| %>
<div class="topten_idea">
	
	<span><%= link_to top.title ,top %></span>
	<span><%= top.num_votes %></span>
	<span><%= top.user.first_name %></span>
	
</div>
<% end %>
</div>