<<<<<<< HEAD
$("#IdeaStream").append("<div class='page'><%= escape_javascript(render :partial => 'stream') %></div>");
=======
$("#main").html("<%= escape_javascript(render(:partial => "index")) %>");
>>>>>>> C4_LinaBasheer_#92_Graph
