.idea-votes {
  padding-top: 22px;
  padding-right: 0px;
  top: 8px;
  left: 21.5px;
  display: block;
  width: 28px;
  height: 22px;
}
.idea-popover {
  width: 600px;
}
#imageTag {
  margin-left: -110px;
  margin-top: 6px;
}
#numberCommentsPopover {
  margin-left: 31%;
}
#votesPopover {
  margin-top: 1%;
  margin-right: 19%;
}
#commentsPopover {
  margin-left: 7%;
}
.tagsPopover {
  margin-top: 7%;
  margin-left: 25%;
}
#userTag {
  margin-left: -6%;
  margin-top: -3%;
}
#titleTag {
  margin-left: -14%;
  margin-top: 3%;
}
#descriptionTag {
  width: 35%;
  margin-top: 2%;
}
#desPop {
  margin-left: 34px;
}


#commentsPopovers {
  margin-top: 4%;
  margin-left: 2%;
}
#votesVotes {
  font-size: 24px;
}
#popoverWhole {
  margin-left: -17%;
  margin-top: 5%;
}
.label.label-info {
  font-size: 14px;
}
.margin {
  margin-top: -550px;
  margin-bottom: 9px;
}
.tagsIdea{
  padding-left: 135px;
}
.popover {
  max-width: 50%;
  max-height: 171%;
  padding-left: 12%;
  text-align: left;
  background-color: white;
}
.popover.fade.bottom.in {
  top: 8px;
  left: -103px;
  display: block;
  width: 34%;
  height: 507px;
}
.usernameId{
  padding-left: 374px;

}
.popover-content {
  padding: 9px 21px;
}
