<h1>Ideas#show</h1>
<p>Find me in app/views/ideas/show.html.erb</p>
<h2 id="theme">tags filtering</h2>
    <div>
        <input type="text" id="input-facebook-theme" name="blah2" />
        <input type="button" value="Submit" /> 
            <script type="text/javascript">
        
        $(document).ready(function() {
            $("#input-facebook-theme").tokenInput('/tags/ajax', {
                theme: "facebook",
                preventDuplicates: true,
                tokenLimit: 5
            });   
        });
         </script>
    </div>
