<% if current_user %>
    <% if @user.type == "Committee" %>
        <% if (@user.tags & @idea.tags).count > 0 && @idea.approved == false %>
	        <%= link_to 'Approve', { :controller => "committees", :action => "add_prespectives" }, :id => params[:id],:confirm => "Are you sure you want to approve this idea?",:class => 'btn btn-success' %>
	        <p>  OR  </p>
	        <%= link_to 'Disapprove', { :controller => "committees", :action => "disapprove" }, :id => params[:id],:confirm => "Are you sure you want to disapprove this idea?",:class => 'btn btn-danger' %>
	    <% end %>
    <% end %>
<% end %>    
 
