/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require bootstrap_and_overrides
 *= require token-input-facebook
 *= require jquery-star-rating
 *= require notification
 *= require ideas
 *= require ideas/popover
 *= require font-awesome
 *= require profile_modal
 *= require unauthorized_sign_in_up_modal
 *
 */

div#sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
    background: rgb(200,200,200);
    -webkit-border-radius:7px;
    border-radius: 7px;
}

div#sidebar::-webkit-scrollbar {
    width: 8px;
}

div#sidebar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(100,100,100,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1);
    background: rgb(200,200,200);
    -webkit-border-radius:7px;
    border-radius: 7px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(100,100,100,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

html{
  overflow-x:hidden;
}

.body{
  background-color: rgba(246, 250, 156,0.25);
  font-size: 13px;
}

.content {
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

#main
{
padding-top:5px;
}

#searchdiv{
  margin:5px;
}

#main-nav .brand{
  padding-bottom: 3px;
  padding-top: 8px;
  color: white;
}

#main-nav .brand:hover{
  text-shadow: 0 0 0.2em #ffffbe;
}

#main-nav .brand:hover .icon-lightbulb{
  text-shadow: 0 0 0.2em #ffffbe, 0 0 0.2em #ffffbe, 0 0 0.2em #ffffbe;
}

.ideaList {
  width: 200px;
  float: right;
}

.bulbContainer {
  width: 780px;
}

#myModal {
  display: none;
}

nav .icon-user {
  padding-right: 10px;
}

#nav_login {
  padding: 0 5px;
}

.twitter-nav-login {
  background: url('/assets/twitter_signin.png') center no-repeat;
}

.facebook-nav-login {
  background: url('/assets/facebook_signin.png') center no-repeat;
}

.social-media-login {
  display: block;
  width: 150px;
  height: 20px;
  font-size: 0;
}

.fb-login{
  display: block;
  padding: 3px;
  color: #3b5998;
  opacity: 0.5;
}
.tw-login{
  display: block;
  padding: 3px;
  color: #4099FF;
  opacity: 0.5;
}

.fb-login:hover{
  opacity: 1;
}

.tw-login:hover{
  opacity: 1;
}

.nav-login{
  padding: 0px 0px 0px;
  margin: 0px 0px 0px;
}

.fbk{
  cursor: pointer;
  padding:2px;
  opacity: 0.5;
}

.tw{
  cursor:pointer;
  padding:2px;
  opacity: 0.5;
}

.pin{
  cursor:pointer;
  padding:2px;
  opacity: 0.5;
}

.fbk:hover{ 
  opacity: 1;
  color: #3b5998; 
}
.tw:hover{
  opacity: 1;
  color: #4099FF;
}

.pin:hover{
  opacity: 1;
  color: #C92228;
}

.my-ideas{
  padding: 20px;
}

.landing-centered{
  text-align: center;
  min-height: 320px;
}
