.competition{
  background-color: white;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.taging{
  color: #0060ff;
  font-size: 16px;
}

.tag{
  color:white;
}

.green{
  color: rgb(140, 169, 62);
}


.red{
  color: rgb(140, 0, 26);
}

.description{
  background-color: rgba(255,255,255,0.5);
  font-size: 14px;
}

.currenttag{
  background-color: #EFF2F7;
    border: 1px solid #CCD5E4;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    cursor: default;
    float: left;
    font-size: 16px;
    height: auto !important;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.delete-token{
    margin-left:7px;
    color:white;
}

#myIdeas {
    /* new custom width */
    width: 835px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -387px;
}

#stream_competition{
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-left-width: 1px;
  padding: 20px;
  padding-top: 0px;
}

.enroll-competition-modal{
  background-color: rgba(246, 250, 156,0.25);
  overflow-x: hidden;
}
.new-competition-page{
  background-color: white;
  margin: auto;
}

.new-competition-page .span5{
  margin-left:0px;
}

.new-competition-page input.red-text-field{
  background-color: rgba(140, 0, 26,0.1);
}

.new-competition-page textarea.green-text-field{
  background-color: rgba(40, 169, 62,0.1);
}

.new-competition-page textarea.purple-text-field{
  background-color: rgba(79,47,79,0.1);
}

.blue-text-field select{
  background-color: rgba(50,193,169,0.1);
}

.new-competition-page input.red-text-field:focus{
  border-color: rgb(140, 0, 26);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 0, 26, 0.6);
}

.new-competition-page textarea.green-text-field:focus{
  border-color: rgb(40, 169, 62);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 169, 62, 0.6);
}

.new-competition-page textarea.purple-text-field:focus{
  border-color: rgb(79,47,79);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(79,47,79, 0.6);
}

.gold-text-field:focus select{
  border-color: rgba(212,183,142,0.5);
}

#competition-tags ul.token-input-list-facebook{
  border-radius: 3px;
}

.gold-hint{
  color: rgb(212,183,142);
}

.new-competition-page textarea.gold-text-field:focus{
  border-color: rgb(212,183,142);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(212,183,142, 0.6);
}

.new-competition-page input.gold-text-field:focus{
  border-color: rgb(212,183,142);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(212,183,142, 0.6);
}

.new-competition-page label{
  font-weight: bold;
  display: inline;
}

.competition-submit{
  padding: 8px 24px;
}
