
.competition{
 border: 1px solid black;
 word-wrap: break-word;
 margin-bottom: 30px;
}

[class*="span"]{
}

.btn{
  margin-right: 10px;
  margin-bottom: 10px ;
}

.taging{
  color: #0060ff;
  font-size: 16px;
}

.green{
  color: green;
}

.red{
  color: red;
}