// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.facebook{
  width:30px;
  height:30px;
  cursor: pointer;
  padding-right:5px;
}
.twitter{
  width:30px;
  height:30px;
  cursor:pointer;
}