.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}


.fbk{
  width:40px;
  height:40px;
  cursor: pointer;
  padding:5px;
}

.tw{
  width:40px;
  height:40px;
  cursor:pointer;
  padding:5px;
}

.pin{
  width:40px;
  height:40px;
  cursor:pointer;
  padding:5px;
}

#control{
  padding-top:10px;
  padding-right:10px;
}

.facebook{
  width:30px;
  height:30px;
  cursor: pointer;
  padding-right:5px;
}

.twitter{
  width:30px;
  height:30px;
  cursor:pointer;
}
   .hint {
     display:none;
//   position: absolute;
//   right: -250px;
//   width: 200px;
//   margin-top: -4px;
//   border: 1px solid #c93;
//   padding: 10px 12px;
//   background-color: #ffc;
   }

// .hint .hint-pointer {
//     position: absolute;
//     left: -10px;
//     top: 5px;
//     width: 10px;
//     height: 19px;
//     background: url(pointer.gif) left top no-repeat;
// }
.vote-component {
  text-align: center;
}

.vote-count {
}

.idea-page .vote-component .vote-count {
  font-size: 80px;
  line-height: 60px;
}

.idea-page .vote-component .btn {
  border-radius: 12px 12px 12px 12px;
  font-size: 17.5px;
  padding: 22px 45px;
}
.margin {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}
#tags{
  padding-left:20px;
}
