
#modal-profile-picture {
  display: block;
  width: 200px;
  position: relative;
  bottom: 10px;
}

.modal-user-details {
  position: absolute;
  left: 160px;
  bottom: 40px;
}

#idea-count-button {
  margin-left: 37px;
}

#user-profile-modal {
  display: none;
}


#user-profile-modal .span6,.modal-photo{
  margin-left: 0px;
}

#user-profile-modal dt{
  text-align: left;
}

#user-profile-modal dd{
  margin-left: 0px;
}

#user-profile-modal dl{
  margin-top: 0px;
}

#user-profile-modal .user-photo{
  height: 200px;
}

.modal-photo{
  width: 200px;
}

#user-profile-modal .modal-body{
  overflow-x: hidden;
  overflow-y: auto;
}