// Place all the styles related to the stream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-votes{
 padding-left: 87%;
  font-size: 35px;
  margin-right: 25px;
}

.block{
  box-shadow: 0px 0px 2px rgba(51,51,51,0.9);
  margin-bottom: 20px;
}

.ideasstream{
  background-color:#FFFFFF;
  margin: 0px;
  margin-right: 5px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:38px;
  border-right-style:none;
  border-top-style:none;
  border-left-style:0.25px solid;
  border-bottom-style:0.25px solid;
}

#autocomplete-search{
  max-height: 200px;
  height: auto;
  overflow: auto;
  width: 240px;
  max-height: 600px;
  left:585px;
  position: fixed;
  top: 42px;
  display:none;
  z-index:1;
}

.sidebar-show{
  position:fixed;
  top:50%;
  display:none;
  right:0px;
  background:rgba(212, 183, 142, 0.5);
}

.sidebar-btn{
  width:80px;
  height:50px;
  background:rgba(212, 183, 142, 0.5);
  font-size: 35px;
  color: whitesmoke;
}

.sidebar-btn:hover{
  background:rgba(212, 183, 142, 0.8); 
}

.user-search, .idea-search{
  margin-left:5px;
}

.stream-date{
  margin:0px;
  margin-bottom:30px;
  color:#898f9c;
}

.stream-idea{
  margin: 0px;
  margin-top: 20px;
}

#stream{
  margin-top:0px;
}

#landing{
  padding:10px;
}

.close{
  margin-left:7px;
}

.badge-topten{
  color:white;
  background-color:rgb(79,47,79);
}

.badge-stream{
  color:rgb(79,47,79);
  background-color:white;
}

.affix{
  position:fixed;
  right:15px;
  bottom:5%;
}

.topten_ideas{
  padding:0%;
  background-color: #FFFFFF;
  width: 340px;
}

h3.sidebar_title{
  background-color: rgba(212,183,142,0.5);
  margin: 0px;
  padding: 5px;
  font-size: 16px;
  line-height: 30px;
}

.trending-ideas{
  padding:0%;
  background-color: #FFFFFF;
  width: 340px;
  margin-bottom: 0px;
}

#spinner-outer{
  margin-top:3%;
  margin-bottom:3%;
  padding-right:50%;
  padding-left:50%;
  width:700px;
  height:30px;
}



#spinner-inner{
  display:none;
}

#spinner-outer-autocomplete{
  margin-top:1%;
  margin-bottom:1%;
  padding-right:50%;
  padding-left:50%;
  width:100px;
  height:15px;
}

#spinner-inner-autocomplete{
  display:none;
}

#in-stream-component{
  position:relative;
}

.margin{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;

}

.hidden{
  display: none;
}


.image{
  margin-left: 10px;
}
.title{
  margin-left: 20%;
  padding: 10px;

}
.title1{
  margin-left: 100px;
}
.idea{
  width: 200px;
}

.topten_idea{
  background: white;
  padding:10px;
  margin-bottom:0px;
  margin-top:0px;
  padding-left:25px;
  border-right-style:none;
  border-top-style:none;
  border-left-style:none;
  border-bottom-style:0.25px solid;
  border-radius: 0px;
}

.idea_of_the_month{
  padding:0%;
  margin-top: 0px;
  background-color: #FFFFFF;
  width: 340px;
  margin-left: 20px;
}

.tag{
  color: #0060ff;
}

.idea-votes{
 padding-left: 87%;
 font-size: 35px;
 margin-right: 25px;
}

.block{
  box-shadow: 0px 0px 2px rgba(51,51,51,0.9);
  margin-bottom: 20px;
}

#title{
  margin-top:0px;
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:10px;
  background-color: none;
}

#signin{
  margin-top:110px;
}

.facebook{
  width:30px;
  height:30px;
  cursor: pointer;
  padding-right:5px;
}

.twitter{
  width:30px;
  height:30px;
  cursor:pointer;
}

.landing-login{
  display: block;
  width: 170px;
  height: 40px;
  font-size: 0;
}


.landing-sign-up input{
  margin-left:30px;
}

.landing-sign-up .sign-up-landing-button{
  margin-left:5px;
}

.landing-sign-up label{
  margin-left:30px;
}

.best-ideas{
  height:180px;
  border-radius:0.5em;
}

div.best-wrapper{
    cursor:pointer;
    margin-left:70px;
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}

.best-ideas:hover{
  box-shadow: 0px 0px 0.5em #000000;
}

div.description-caption{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    height: 100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.70; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
    padding:10px;
    margin:0px;
}

.fancy-title{
  color:rgba(0,0,128,0.75);
}

.best-ideas-div{
  background:rgba(0, 0, 0, 0.10);
}

.best-title{
  color:rgb(50,193,169);
  font-size: 15px;
}

.best-user{
  font-size: 11px;
}

.badge-autocomplete{
  color: white;
  background-color: #4f2f4f;
  margin-left:10px;
}

#sidebar{
  height: 700px;
  overflow: hidden;
  position:fixed;
  display:none;
  background:none;
  padding:0px;
  width:auto;
  right:0px;
}

#separator{
  background: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 2px;
}

.stream-generate-button {
  margin-top:20px;
  -moz-box-shadow:inset 0px 0px 30px 2px #f29c93;
  -webkit-box-shadow:inset 0px 0px 30px 2px #f29c93;
  box-shadow:inset 0px 0px 30px 2px #f29c93;
  background-color:#fe1a00;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  border-radius:40px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:25px;
  font-weight:bold;
  padding:16px 49px;
  text-decoration:none;
  text-shadow:1px 0px 0px #b23e35;
}

.stream-generate-button:hover {
  background-color:#ce0100;
}

.stream-generate-button:active {
  position:relative;
  top:1px;
}

.landing-sign-up .sign-up-landing-button {
  margin-top:30px;
  -moz-box-shadow:inset 7px -7px 46px 12px #3c85de;
  -webkit-box-shadow:inset 7px -7px 46px 12px #3c85de;
  box-shadow:inset 7px -7px 46px 12px #3c85de;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color:#3d94f6;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:25px;
  font-weight:bold;
  padding:10px 63px;
  text-decoration:none;
  text-shadow:1px 0px 22px #1570cd;
}

.landing-sign-up .sign-up-landing-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color:#1e62d0;
}

.landing-sign-up .sign-up-landing-button:active {
  position:relative;
  top:1px;
}

.landing-sign-in-form .sign-up-landing-button {
  margin-top:30px;
  -moz-box-shadow:inset 7px -7px 46px 12px #3c85de;
  -webkit-box-shadow:inset 7px -7px 46px 12px #3c85de;
  box-shadow:inset 7px -7px 46px 12px #3c85de;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color:#3d94f6;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:25px;
  font-weight:bold;
  padding:10px 63px;
  text-decoration:none;
  text-shadow:1px 0px 22px #1570cd;
}

.landing-sign-in-form .sign-up-landing-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color:#1e62d0;
}

.landing-sign-in-form .sign-up-landing-button:active {
  position:relative;
  top:1px;
}

.landing-sign-in-form input{
  margin-left:30px;
}

.landing-sign-in-form .sign-up-landing-button{
  margin-left:5px;
}

.landing-sign-in-form label{
  margin-left:30px;
}

.landing-sign-in-form .remember_me_label{
  margin-left:0px;
}

h4.media-heading{
  cursor:pointer;
  font-size: 15px;
}

.stream-comp-description{
  font-size: 14px;
}

.stream-idea-titile{
  margin-bottom: 2px;
}

.sidebar-carousel{
  margin-bottom: 5px;
}

.iom{
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.show-sign{
  margin-left:207px;
  cursor:pointer;
}

.show-trend-sign{
  margin-left:190px;
  cursor:pointer;
}

#sidebar .carousel-control{
  position: absolute;
  top: 35%;
  left: 15px;
  width: 10px;
  height: 40px;
  margin-top: -20px;
  font-size: 40px;
  font-weight: 100;
  line-height: 0px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 23px;
  border-radius: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#sidebar .carousel-control.right{
  left: auto;
  right: 15px;
}

#sidebar .carousel-control:hover{
  color: rgba(0, 0, 0, 0.25);
}

.winning-ideaa{
  
}

.tag-btn{
  padding-left: 1px;
  padding-right: 1px;
}

.stream-photo{
  margin:0px;
}

.month{
  color: rgb(79,47,79);
}

.stream-idea .new-share{
  float: right;
}

#landing #myCarousel .carousel-control{
  display: none;
}

.hide-stream{
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
}

.hide-stream:hover{
  cursor: pointer;
}

#landing #Carousel .carousel-control{
  position: absolute;
  top: 35%;
  left: 15px;
  width: 10px;
  height: 40px;
  margin-top: -20px;
  font-size: 100px;
  font-weight: 50;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 23px;
  border-radius: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#landing #Carousel .carousel-control.right{
  left: auto;
  right: 15px;
}

#landing #Carousel .carousel-control:hover{
  color: rgba(0, 0, 0, 0.25);
}

.best-ideas-title{
  font-size: 25px;
  color: rgb(79,47,79);
  text-shadow: 0 0 0.2em #551A8B;
}

.check-ideas{
  color: rgb(140, 0, 26);
}