// Place all the styles related to the TagConnection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.idea-vote{
  padding-left: 500px;
  font-size: 35px;
}

.pull{
  padding-left: 475px;
}

.block{
  box-shadow: 0px 0px 2px rgba(51,51,51,0.9);
  margin-bottom: 20px;
}

.wrapper{
  margin-top: 20px;
}

.margin{
  margin-top: 10px;
  margin-bottom: 15px;
}

.hidden{
  display: none;
}
