.unauthorized-body {
  overflow: auto;
}

.unauth-remember-me {
  margin-bottom: 10px;
}

.unauth-header {
  margin-top: 0px;
}

.unauth{
  margin: 0px;
}

.unauth-sign-in-div{
  padding-top:50px;
}

.unauth-sign-in-social{
  display: block;
  width: 170px;
  height: 40px;
  font-size: 0;
}

.sign-in-form .remember_me_label{
  margin-left:5px;
}

.sign-in-form .sign_in_button{
  margin-top:10px;
}

#unauth-sign-in-button{
  padding: 20px;
}

.unauth-centered{
  text-align: center;
  min-height: 320px;
}

h3.unauth-header.up{
  color: rgb(79,47,79);
}

h3.unauth-header.in{
  color: rgb(140, 169, 62);
}

.switch:hover{
  cursor: pointer;
}

#signedout .close{
  color: rgba(0, 0, 0, 0.25);
}