// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.options {
  display: block;
  width: 40px;
}

.user-photo {
  display: inline-block;
  position: absolute;
}

.user-details {
  display: inline-block;
  position: relative;
  left: 340px;
  down: 60px;
}

.user-about {
  width: 600px;
}

.new-idea {
  position: relative;
  display: block;
  width: 300px;
}

p{
	padding-left:20px;
}

