<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}layout.css">
	<title>your home page</title>
</head>
<body>
	<div class = "main">
		<h3>You can add and view your contacts here check contact details for further actions ! :D</h3>
		<ul>
			<li><a href="{% url 'addressBook:add' %}">Add a contact</a></li>
			<li><a href="{% url 'addressBook:contacts' %}">View contacts</a></li>
		</ul>
		<br>
		<a href="{% url 'addressBook:log_out' %}"> you can log out here</a>
	</div>
</body>
</html>
