 <script>
  $(".btn-link").click(function tag_caller(e){
    e.preventDefault();
    var tag = $(this);
    //$("#stream_results").html("");
    stream_manipulator(1,tag.val(),"",true, false);
  });
  </script>

<% if !@search_with_user%>
<table>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %>
        <% idea.tags.each do |tag|%>
        <button class="btn btn-link" value='<%= tag.name %>'><%= tag.name %></button>
        <% end %>
      </td>
    </tr>
    <br>
  <%end%>
</table>
<% else %>
<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %>
      </td>
    </tr>
    <br>
  <%end%>
</table>
<% end %>