  <script>

  $(".close").click(function tag_remover(e){
    e.preventDefault();
    var curr = $(this);
    $("#search").val("");
    alert($("#search").val());
    stream_manipulator(1,curr.val(),"",false, false);
  });
  </script>

    <% @filter.each do |current|%>
      <!-- <div class="well well-small"> -->
        <span class="label label-info "><%= current %>
          <button class="close" value='<%= current %>'>&times;</button>
        </span>
      <!-- </div> -->
    <% end %>