    <% filter_this.each do |current|%>
      <!-- <div class="well well-small"> -->
        <span class="label label-info "><%= current %>
          <button class="close" value='<%= current %>'>&times;</button>
        </span>
      <!-- </div> -->
    <% end %>