/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 *= require_tree .
 *= require ideas/popover
 *

 *= require bootstrap_and_overrides
 *= require token-input-facebook
 *= require jquery-star-rating
 *= require font-awesome
 *= require notification
 *= require ideas
 *= require font-awesome
 *= require profile_modal
 *= require unauthorized_sign_in_up_modal
 *
 */

.body{
  background-color: rgba(246, 250, 156,0.25);
  font-size: 13px;
}

.content {
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

#main
{
padding-top:5px;
}

#searchdiv{
  margin:5px;
}

#main-nav .brand{
  padding-bottom: 3px;
  padding-top: 8px;
}

.ideaList {
  width: 200px;
  float: right;
}

.bulbContainer {
  width: 780px;
}

#myModal {
  display: none;
}

.icon-user {
  padding-right: 10px;
}

#nav_login {
  padding: 0 5px;
}

.twitter-nav-login {
  background: url('/assets/twitter_signin.png') center no-repeat;
}

.facebook-nav-login {
  background: url('/assets/facebook_signin.png') center no-repeat;
}

.social-media-login {
  display: block;
  width: 150px;
  height: 20px;
  font-size: 0;
}

.fbk{
  width:30px;
  height:30px;
  cursor: pointer;
  padding:2px;
  opacity: 0.5;
}

.tw{
  width:30px;
  height:30px;
  cursor:pointer;
  padding:2px;
  opacity: 0.5;
}

.pin{
  width:30px;
  height:30px;
  cursor:pointer;
  padding:2px;
  opacity: 0.5;
}

.fbk:hover, .tw:hover, .pin:hover{
 opacity: 1; 
}

.my-ideas{
  padding: 20px;
}
