.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

.similar-ideas{
   margin-top:30px;
   padding:0px;
   background-color:#FFFFFF;
}

.similar-ideas .sidebar_title{
  font-size:20px;
}

.similar_idea{
  display:inline-block;
  width:15%;
  margin-left:12px;
  margin-top:12px;
  border:none;
  background-color:#FFFFFF;
}

.similar_idea:hover{
  border:0.5px; 
  background-color:#FFFFFF;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000; 
}

.ideastream{
  padding-top:2px;
  background-color:#DDDDDD;
  margin-top: 20px;
}

#control{
  padding-top:10px;
  padding-right:10px;
}

.vote-count{
  font-size: 20px;
  font-weight: bold;
}

.facebook{
  width:30px;
  height:30px;
  cursor: pointer;
  padding-right:5px;
}

.twitter{
  width:30px;
  height:30px;
  cursor:pointer;
}

.hint {
  display:none;
}

.vote-component {
  text-align: center;
}

.vote-count {
}

.idea-page .vote-component .vote-count {
  font-size: 80px;
  line-height: 60px;
}

.idea-page .vote-component .btn {
  border-radius: 12px 12px 12px 12px;
  font-size: 25px;
  padding: 22px 45px;
}
.margin {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}


.idea-page .enter_competition{
  text-align: center;
  margin-left: 9px;
}

.aTag{
  color:#FFFFFF;
}

.aTag:hover{
  color:#FFFFFF;
  text-decoration: none;
}

.idea-ratings{
  padding-left: 95px;
}

.idea-picture{
  padding-left: 30px;
}

.vote-no-margin{
  margin-left: 0px;
}

.idea-page{
  background-color: white;
}

.idea-page h4{
  font-size: 17px;
}

.idea-page .idea-info{
  font-size: 14px;
}

.uapproved-idea-container{
  background-color: white;
}