<<<<<<< HEAD
p{
	display: inline ;
=======
// Place all the styles related to the idea controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addthis_button_facebook, .addthis_button_twitter {
  padding-left:10px;
}

#facebook, #twitter {
	display:none; 
	padding-left:100px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
}

#show{
	padding-top:0px;
	padding-left:60px;
>>>>>>> master
}