// Place all the styles related to the stream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well-small{
	 width:auto;
	 max-width:150px;
	 margin:1px;
	 height:5px;
}