.unauthorized-body{
  
}

.unauthorized-sign-up.span6{
  width: 270px;
  min-height: 340px;
}

.unauthorized-sign-in-up.span6{
  width: 270px;
  min-height: 340px;
}

.unauth-remember-me{
  margin-bottom: 10px;
}

.unauth-header{
  margin-top: 0px;
}

.unauth-sign-in{
  height: 30px;
}

.unauth-hide{
  display: none;
}

.unauth-buttons{
  min-height: 340px;
  margin-left: 10px;
}

.unauth-sign-in-button{
  width: 145px;
  height: 50px;
}
