// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-tags {
  display: none;
}

select.date-select {
  width: 80px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

p{
  padding-left:20px;
}

.user-photo {
}

.user-details {}

#user-about {
}

.new-idea {
  position: relative;
  display: block;
  width: 300px;
}



#user {
  margin-left: 0px;
}

#user label {
}

.user-idea {
  position: relative;
  width: 800px;
  left: 20px;
}

#user input {
  width: 40%;
}

#user-about-me {
  width: 100%;
  max-width:600px;
  word-wrap: break-word;
}

#user .best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#user .best_in_place:hover, .do_hover {
  background-color: #CCC;
}

.user-profile-page{
  background-color: white;
  margin-left: 0px;
}

.my-dashboard-link{
  font-size: 17px;
  font-weight: bold;
}

#user-ideas-title{
  padding-left: 50px;
}

.user-details dt{
  text-align: left;
}

.user-details dd{
  margin-left: 0px;
}

.user-profile-page .span10,.user-photo,.span4{
  margin-left: 0px;
}

#user-profile-modal .span6,.modal-photo{
  margin-left: 0px;
}

#user-profile-modal dt{
  text-align: left;
}

#user-profile-modal dd{
  margin-left: 0px;
}

#user-profile-modal dl{
  margin-top: 0px;
}

#user-profile-modal .user-photo{
  height: 200px;
}

.modal-photo{
  width: 200px;
}

#user-profile-modal .modal-body{
  overflow-x: hidden;
  overflow-y: auto;
}