<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}layout.css">
	<title>your home page</title>
</head>
<body>
	<div class = "main">
		<h3>you can add , search , delete your contacts here</h3>
		<ul>
			<li><a href="put relative link here">add contact</a></li>
			<li><a href="put relative link here">delete contact</a></li>
			<li><a href="put relative link here">search contact</a></li>
			<li><a href="put relative link here">edit contacts</a></li>
		</ul>
		<br>
		<a href="{% url 'registration:log_out' %}"> you can log out here</a>
	</div>
</body>
</html>