body{
	font-family: helvetica;
	color: #2B65EC;
	
}

h1.first{
	font-size: 40px;
	border-top: 100px solid white;
	border-left: 100px solid white;
	border-bottom: 100px solid white;
	color: #2B65EC;
}
h2{
	color: #808080;
}




